<footer class="page__footer">
    <div class="copy">
        <p>&copy;2023</p>
        <p>We &#129505; run</p>
    </div>
    <ul class="items">
        <li>ZAPATILLAS</li>
        <li>ROPA</li>
        <li>NIÑO/A</li>
        <li>DESTACADOS</li>
        <li>TIPS</li>
    </ul>
    <ul class="social">
        <li><a href="https://twitter.com/Adalab_Digital">TWITTER</a></li>
        <li><a href="https://www.instagram.com/adalab_digital/?hl=es">INSTAGRAM</a></li>
        <li><a href="https://www.youtube.com/c/Adalab">YOUTUBE</a></li>
    </ul>
</footer>
