<header class="page__header">
    
    <div class="hero">
        <img src="./assets/images/cover.jpeg" alt="runner" class="runner" title="tie your shoes">
        <div class="intro">
            <a id="hero-intro"><h1 class="main-title">Hasta un 50% de descuento</h1></a>
            <h2 class="offer">Ya están aquí las ofertas de fin de temporada</h2>
            <div class="header-arrow">
                <div>
                    <a href="#start"><img src="./assets/images/ico-scroll-down.svg" alt="arrow-down" class="arrow-down" title="going down arrow"></a>
                </div>
            </div>
        </div>
    </div>
</header>
