<header class="page__header">
    <nav class="navigation_logo">
        <a title="adalab" href="https://adalab.es/">
        <img src="./assets/images/ico-menu.svg" alt="bar"></a>
    </nav>
    <hero>
        <img src="./assets/images/cover.jpeg" alt="runner" class="runner">
        <div class="intro">
            <h1 class="main-title">HASTA UN 5O% DE DESCUENTO</h1>
            <h2>Ya están aquí las ofertas de fin de temporada</h2>
            <caption>
                <img src="./assets/images/ico-scroll-down.svg" alt="arrow-down" class="arrow-down">
            </caption>
        </div>
    </hero>
</header>
