<header class="page__header">
    
    <hero>
        <img src="./assets/images/cover.jpeg" alt="runner" class="runner">
        <div class="intro">
            <a id="hero-intro"><h1 class="main-title">HASTA UN 5O% DE DESCUENTO</h1></a>
            <h2>Ya están aquí las ofertas de fin de temporada</h2>
            <div class="header-arrow">
                <caption>
                    <a href="#start"><img src="./assets/images/ico-scroll-down.svg" alt="arrow-down" class="arrow-down"></a>
                </caption>
            </div>
        </div>
    </hero>
</header>
