<main class="page__main">
    <article class="white-back">
        <span class="tip">
            Los sentimientos nos inspiran
        </span>
        <p class="connect">Conecta Contigo</p>
        <p class="main-text">
            Esto es una celebración de todo lo que nos mueve. Del poder de elegir y de la libertad de ser. Rendimos homenaje al hermoso caos del movimiento y a la plena consciencia que tan bien nos hacen sentir.
        </p>
        <span class="buying-button">Comprar</span>
    </article>
    <article class="grey-back">
        <p class="subtitle">Año nuevo, movimientos nuevos</p>
        <div class="new-year">
            <div class="training">
                <p class="intro">Entrenamientos</p>
                <p>Sesiones de running y entrenamientos</p>
            </div>
            <div class="level">
                <p class="intro">Cualquier nivel</p>
                <p>Entrenamientos para cada nivel</p>
            </div>
            <div class="exclusive">
                <p class="intro">Exclusividad</p>
                <p>Productos para miembros Premium</p>
            </div>
            <span class="begin">Empezar ahora</span>
        </div>
        <caption>
            <img src="./assets/images/ico-arrow.svg" alt="arrow-up" class="arrow-up">
        </caption>
    </article>
    
</main>
