.hero {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: flex-end;
}

.main-title {
  font-family: RobotoSlabBold;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  padding: 20px;
  text-transform: uppercase;
}

.offer {
  font-size: 24px;
  text-align: center;
  margin-bottom: 30px;
}

.header-arrow{
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow-down {
  width: 4rem;
  height: 3.4rem;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 0%; 
  padding: 15px;
  border-radius: 50%;
  background-color: white;
  border: 2px solid white;
}

.runner {
  width: 100%;
  height: 100%;
  z-index: 0;
  position: sticky;
  top: 0;
  left: 0;
}

.intro {
  z-index: 2;
  position: sticky;
}

.main-title, .offer{
  color: white;
}

.tip{
  font-size: 14px;
  font-family: Roboto;
  line-height: 30px;
  font-weight: normal;
}

@media all and(min-width:768px){
  .main-title{
    font-size: 75px;
  }
}

@media all and(min-width: 1200ps){
  .main-title{
    font-size: 100px;
  }
}