:root{
    --corporate-color: #f26002;
    --background-color:#f2f2f2;
    --title-color: white;
    --main-text-color:black;
}

//PARTE SUPERIOR DEL MAIN

.tip {
    font-size: 16px;
    color: var(--corporate-color);
    font-family: Roboto;
}

.connect {
    font-size: 32px;
    font-weight: bold;
    padding-top: 30px;
}

.main-text {
    font-size: 20px;
    padding-top: 12px;
    font-family: Roboto;
    padding-bottom: 31px;
}

.white-back {
    margin: 37px 53px 39px 37px;
    padding-left: 30px;
}

.buying-button {
    font-family: Roboto;
    font-size: 20px;
    font-weight: bold;
    width: 137px;
    height: 45px;
    color: var(--corporate-color);
    border: 3px solid var(--corporate-color);
    padding: 10px 40px 10px 40px;
    text-align: center;
    vertical-align: middle;
    border-radius: 22.5px;
}

//PARTE INFERIOR DEL MAIN

.grey-back {
    background-color: var(--background-color);
    padding: 60px 100px 0px 100px;
    display: grid;
    justify-content: center;
    align-content: center;
    line-height: 2;
    z-index: 0;    

    div {
        padding: 30px 0 30px 0;
    }

}

.subtitle, .intro {
    font-weight: bold;
    text-align: center;
    color: var(--main-text-color);
}

.text {
    font-family: Roboto;
    font-size: 18px;
    text-align: center;
    color: var(--main-text-color);
}

.subtitle {
    font-size: 20px;
}

.intro {
    font-size: 18px;
}

.begin {
    font-family: Roboto;
    font-size: 20px;
    font-weight: bold;
    background-color: var(--corporate-color);
    border: 3px solid var(--corporate-color);
    color: var(--title-color);
    text-align: center;
    vertical-align: middle;
    border-radius: 60px;
    margin-bottom: 50px;
}

.exclusive {
    margin-bottom: 50px;
}

.main-arrow{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
}

.arrow-up {
    padding: 20px;
    border: 2px solid var(--title-color);
    background-color: var(--title-color);
    //el color de fondo es igual que el color del título
    border-radius: 50%;
    transform:translate(10%,50%);
    z-index: 1;
}

@media all and(min-width:768px) {
    .grey-back {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: 20% 40% 20%;
        padding-bottom: 50px;
    }

    .subtitle {
        grid-area: 1/1/2/13;
        font-size: 28px;
    }

    .training {
        grid-area: 2/1/3/5;
    }

    .level {
        grid-area: 2/5/3/9;
    }

    .exclusive {
        grid-area: 2/9/3/13;
    }

    .begin {
        grid-area: 3/5/3/9;
        height: 45px;
        margin-top: 40px;
    }

    .arrow-up {   
        transform: translate(10%, 50%);
    }

    .intro{
        font-size: 24px;
    }

    .text{
        font-size: 20px;
    }
    
}

@media all and(min-width:1200px) {
    
    .arrow-up {
        transform: translate(0, 50%);
    } 
    
    .text{
        font-size: 20px;
    }

    .subtitle {
        font-size: 32px;
    }

    .intro {
        font-size: 24px;
    }

    .intro{
        font-size: 24px;
    }
}