//PARTE SUPERIOR DEL MAIN

.tip{
    font-size: 16px;
    color:#f26002;
    font-family: Roboto;
}

.connect{
    font-size: 32px;
    font-weight: bold;
    padding-top: 30px;
}

.main-text{
    font-size: 20px;
    padding-top: 12px;
    font-family: Roboto;
    padding-bottom: 31px;
}

.white-back{
    margin:37px 51px 39px 37px;
}

.buying-button{
    font-family: Roboto;
    font-size: 20px;
    font-weight: bold;
    width: 137px;
    height: 45px;
    color: #f26002;
    border: 3px solid #f26002;
    padding: 10px 40px 10px 40px;
    text-align: center;
    vertical-align: middle;
    border-radius: 22.5px;
}

//PARTE INFERIOR DEL MAIN

.grey-back{ //EL H2 Y EL H3 NO ENTRAN MEDIDAS COMO EN ZEPLIN (DEJO POR DEFECTO)
    background-color: #f2f2f2;
    padding: 60px 100px 0px 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 2;

    h2, h3{
        font-weight: bold;
        text-align: center;
    }

    p{
        font-family: Roboto;
        font-size: 18px;
        text-align: center;
    }

    div{
        padding: 30px 0 30px 0;        
    }
    
}

.begin{ //NO CENTRA EL BOTON
    font-family: Roboto;
    font-size: 20px;
    font-weight: bold;
    width: 137px;
    height: 45px;
    background-color: #f26002;
    border: 3px solid #f26002;
    color: white;
    padding: 10px 40px 10px 40px;
    text-align: center;
    vertical-align: middle;
    border-radius: 22.5px;
    margin-bottom: 50px;
}

.exclusive{
    margin-bottom: 50px;
}

.arrow-up{
    padding-top: 50px;
    border: 2px solid #f2f2f2;
    background-color: #f2f2f2;
    border-radius: 50%;
}