//PARTE SUPERIOR DEL MAIN

.tip{
    font-size: 16px;
    color:#f26002;
    font-family: Roboto;
}

.connect{
    font-size: 32px;
    font-weight: bold;
    padding-top: 30px;
}

.main-text{
    font-size: 20px;
    padding-top: 12px;
    font-family: Roboto;
    padding-bottom: 31px;
}

.white-back{
    margin:37px 51px 39px 37px;
}

.buying-button{
    font-family: Roboto;
    font-size: 20px;
    font-weight: bold;
    width: 137px;
    height: 45px;
    color: #f26002;
    border: 3px solid #f26002;
    padding: 10px 40px 10px 40px;
    text-align: center;
    vertical-align: middle;
    border-radius: 22.5px;
}

//PARTE INFERIOR DEL MAIN

.grey-back{ 

    //LOS TITULOS Y SUBTITULOS NO QUEDAN IGUAL NI CON H2 Y H3 NI AJUSTANDO MEDIDAS (ZEPLIN) EN P

    background-color: #f2f2f2;
    padding: 60px 100px 0px 100px;
    display: grid;
    justify-content: center;
    align-content: center;
    line-height: 2;   

    p{
        font-family: Roboto;
        font-size: 18px;
        text-align: center;
        color: black;
    }

    div{
        padding: 30px 0 30px 0;        
    }
    
    .subtitle,.intro {
        font-weight: bold;
        text-align: center;
    }
    
    .subtitle {
        font-size: 20px;
    }
}

.intro{
    font-size: 18px;
}

.begin{ //NO CENTRA EL BOTON Y NO SÉ POR QUÉ
    font-family: Roboto;
    font-size: 20px;
    font-weight: bold; 
    background-color: #f26002;
    border: 3px solid #f26002;
    color: white;
    text-align: center;
    vertical-align: middle;
    border-radius: 60px;
    margin-bottom: 50px;
}

.exclusive{
    margin-bottom: 50px;
}

.arrow-up{
    padding: 20px;
    border: 2px solid white;
    background-color: white;
    border-radius: 50%;
    transform: translate(120px, 40px);
    //ES POSIBLE QUE NO ESTE BIEN CENTRADO
}

@media all and(min-width:768px){
    .grey-back{
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: 20% 60% 20%;
        padding-bottom: 50px;
    }

    .subtitle{
        grid-area: 1/1/2/13;
        font-size: 28px;
    }

    .training{
        grid-area: 2/1/3/5;
    }

    .level{
        grid-area: 2/5/3/9;
    }

    .exclusive{
        grid-area: 2/9/3/13;
    }

    .begin{
        grid-area: 3/5/3/9;
        height: 45px;
    }

    .arrow-up {     
        //ES POSIBLE QUE NO ESTE BIEN CENTRADO   
        transform: translate(280px, 80px);            
    }    

}

@media all and(min-width:1200px){
    //NO ESTA BIEN CENTRADO
    
    .arrow-up{
        transform: translate(620px, 80px);
    }
}