@import 'core/reset';
@import 'layout/header';
@import 'layout/page';
@import 'layout/footer';
@import 'pages/index';

*{
    font-family: RobotoSlab;    
}

.navigation_logo {
    background-color: #f26002;
    width: 32px;
    height: 38px;
    box-sizing: border-box;
    padding: 10px 20px 10px 20px;
    display: flex;
    justify-content: center;
    align-content: center;
    position: sticky;
    top: 0;
    z-index: 2;
}